# Dependency Directories
node_modules
languages
release
vendor

# Project Files
dist
ruleset.xml

# Editors and IDEs
.idea/
.vscode/

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Cypress
cypress/screenshots
cypress/videos
cypress/downloads
cypress/reports

# Node/NPM
node_modules/

# WordPress Environment
.wp-env.override.json