# Directories
/.git export-ignore
/.github export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/blueprint.json export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml export-ignore
