/**
 * Environment Indicator Admin Bar Styles
 *
 * @package DontMessUpProd
 * @since   0.9.0
 */

:root {
	--dmup-color-local: #6c757d;
	--dmup-color-development: #6f42c1;
	--dmup-color-staging: #28a745;
	--dmup-color-production: #dc3545;
}

#wpadminbar .dmup-environment-indicator {
	display: inline-block;
	font-weight: bold;
	padding: 0 15px;
	height: 100%;
	text-transform: capitalize;
}

#wpadminbar .dmup-environment-local {
	background-color: var(--dmup-color-local);
}

#wpadminbar .dmup-environment-development {
	background-color: var(--dmup-color-development);
}

#wpadminbar .dmup-environment-staging {
	background-color: var(--dmup-color-staging);
}

#wpadminbar .dmup-environment-production {
	background-color: var(--dmup-color-production);
}
